PORT=5000
DATABASE_URL=postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/vora_db?sslmode=require
CAMERPAY_SECRET_KEY=cp_sk_live_123456789
EXPO_PUBLIC_CAMERPAY_KEY=cp_pk_live_123456789
SUPER_ADMIN_EMAIL=admin@vora.cm
